/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d77aff;
}

.contenedor {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #5e5e5e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #000000;
    text-align: center;
}

label {
    display: block;
    color: #000000;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}