body {
    background-color: rgb(255, 174, 82);
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #ff8000;
    color: black;
}

.navbar a {
    color: black;
}


.navbar a.active {
    background-color: #ff8000;
    color: rgb(54, 53, 53);
}


.navbar a:hover:not(.active) {
    background-color: #ff8000;
    color: rgb(54, 53, 53);
}
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffc675;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  label {
    flex-basis: 100%;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="number"] {
    flex-basis: calc(100% - 2rem);
    margin-right: 2rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    flex-basis: 100%;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }